In [52]:
import urllib.request, json 
import json
import numpy as np
#import pycountry as pc
import pandas as pd
import csv
import itertools

In [152]:
#EXTRACTING DATA AND CONVERTING IT TO A 1-DIMENSIONAL ARRAY

with urllib.request.urlopen("http://api.population.io:80/1.0/countries") as url:
    slash = "/"
    api_data = json.loads(url.read().decode())
    twoD_data = np.array(list(api_data.values())) #turns the dictionary into a 2D array
    all_countries = twoD_data.ravel()
    country_ready_for_fetch = []
    
#FORMATTING COUNTRIES FOR URL-CALLS LATER
    
country_code_data = pd.read_csv('https://pkgstore.datahub.io/core/country-list/data_csv/data/d7c9d7cfb42cb69f4422dec222dbbaa8/data_csv.csv')
df1 = country_code_data[['Name','Code']]
df2 = country_code_data[['Code']]

country_and_countrycodes = df1.values
countrycodesTwoD = df2.values
countrycodes = countrycodesTwoD.ravel()

chained_country_list = set(itertools.chain.from_iterable(country_and_countrycodes)) & set(all_countries)



for country in chained_country_list:
    try:
        if '/' not in country:
            j = country.replace(" ","%20")
            country_ready_for_fetch.append(j)
                
    except AttributeError:
        pass
    
#EXTRACTING THE POPULATION DATA

date = '/2013-01-01'

country_population = []

for country in country_ready_for_fetch:
    url = "http://api.population.io:80/1.0/population/"

    with urllib.request.urlopen(url + country + date) as url:
        data = json.loads(url.read().decode())
        country_population.append(country)
        country_population.append(data)

# country_space = []

# for i in (country_population):
#     if "%20" in i:
#         j = i.replace("%20"," ")
#         country_population.append(j)
        
# print(country_space)
#print(country_population)
        
            
#print(country_space)

#print(country_population)

#{k.replace('%20', ' '): v for k, v in test.items()}

#print(test)



result = {}

for i in range(0, len(country_population), 2):
    result[country_population[i]] = country_population[i+1]['total_population']['population']
    
result = {key.replace('%20', ' '): value for key, value in result.items()}



l = np.array(country_and_countrycodes).tolist()

for i in l:
    i.append(result.get(i[0]))

df = pd.DataFrame(l)
df.columns = ['country']

                                        0   1            2
0                             Afghanistan  AF   30206627.0
1                           Åland Islands  AX          NaN
2                                 Albania  AL    2881160.0
3                                 Algeria  DZ   37812804.0
4                          American Samoa  AS          NaN
5                                 Andorra  AD          NaN
6                                  Angola  AO   23066819.0
7                                Anguilla  AI          NaN
8                              Antarctica  AQ          NaN
9                     Antigua and Barbuda  AG      89530.0
10                              Argentina  AR   42318079.0
11                                Armenia  AM    2985060.0
12                                  Aruba  AW     102656.0
13                              Australia  AU   23093130.0
14                                Austria  AT    8471354.0
15                             Azerbaijan  AZ    9429670.0
16                                Bahamas  BS          NaN
17                                Bahrain  BH    1342516.0
18                             Bangladesh  BD  156210473.0
19                               Barbados  BB     282054.0
20                                Belarus  BY    9494029.0
21                                Belgium  BE   11116527.0
22                                 Belize  BZ     340479.0
23                                  Benin  BJ   10186533.0
24                                Bermuda  BM          NaN
25                                 Bhutan  BT     749285.0
26        Bolivia, Plurinational State of  BO          NaN
27       Bonaire, Sint Eustatius and Saba  BQ          NaN
28                 Bosnia and Herzegovina  BA    3825986.0
29                               Botswana  BW    2154777.0
..                                    ...  ..          ...
219          Tanzania, United Republic of  TZ          NaN
220                              Thailand  TH   67311712.0
221                           Timor-Leste  TL    1115614.0
222                                  Togo  TG    6835559.0
223                               Tokelau  TK          NaN
224                                 Tonga  TO     104914.0
225                   Trinidad and Tobago  TT    1344888.0
226                               Tunisia  TN   10942439.0
227                                Turkey  TR   75541735.0
228                          Turkmenistan  TM    5207419.0
229              Turks and Caicos Islands  TC          NaN
230                                Tuvalu  TV          NaN
231                                Uganda  UG   35985008.0
232                               Ukraine  UA   45240248.0
233                  United Arab Emirates  AE    9006275.0
234                        United Kingdom  GB   63769073.0
235                         United States  US  315980703.0
236  United States Minor Outlying Islands  UM          NaN
237                               Uruguay  UY    3402313.0
238                            Uzbekistan  UZ   28813633.0
239                               Vanuatu  VU     250348.0
240     Venezuela, Bolivarian Republic of  VE          NaN
241                              Viet Nam  VN          NaN
242               Virgin Islands, British  VG          NaN
243                  Virgin Islands, U.S.  VI          NaN
244                     Wallis and Futuna  WF          NaN
245                        Western Sahara  EH     543700.0
246                                 Yemen  YE          NaN
247                                Zambia  ZM   15013941.0
248                              Zimbabwe  ZW   14730626.0

[249 rows x 3 columns]